* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

$main-color: #4ecdc4;

body {
  font-family: 'Raleway', sans-serif;
  color: #333;
  background: $main-color;
  background: -webkit-linear-gradient(to right, #546d6d, $main-color);
  background: linear-gradient(to right, #546d6d, $main-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  box-shadow: 0 0 10px #555;
}

.correct {
  color: rgb(40, 189, 65);
}

.incorrect {
  color: rgb(207, 40, 40);
}

.app {
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 450px;
  background-color: rgb(241, 241, 241);
  border-radius: 14px;
  box-shadow: 0 0 10px #555;

  header {
    background: $main-color;
    background: -webkit-linear-gradient(to left, #7ea1a1, $main-color);
    background: linear-gradient(to left, #7ea1a1, $main-color);
    color: white;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 35px;
    text-shadow: 0 0 4px #666;

    h1 {
      font-size: 1.15rem;
      text-align: center;
      margin-bottom: 6px;
    }

    p.description {
      text-align: center;
      font-size: 0.7rem;
    }
  }

  .start-box {
    button {
      display: block;
      margin: 0 auto;
      background-color: transparent;
      border: 2px solid $main-color;
      text-transform: uppercase;
      color: $main-color;
      font-size: 0.7rem;
      padding: 6px 8px;
      border-radius: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      transition: color 0.3s, background-color 0.3s;
      cursor: pointer;
    }

    button:hover {
      background-color: $main-color;
      color: white;
    }

    .info {
      margin-bottom: 30px;

      p {
        font-weight: 300;
        font-size: 0.8rem;
        margin-left: 6px;
        padding: 6px;
      }

      i {
        color: $main-color;
      }
    }

    form {
      text-align: center;
      margin: 20px 0 40px 0;

      input {
        color: #555;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(224, 224, 224);
        background-color: #fff;
        padding: 8px 8px;
        width: 60%;
        transition: box-shadow 0.3s;
      }

      input:focus {
        box-shadow: 0 0 10px rgb(192, 192, 192);
      }
    }
  }

  .quiz-box {
    display: none;

    .quiz {
      padding: 20px;

      .question {
        span {
          color: $main-color;
        }

        h2 {
          text-align: center;
          font-size: 0.7rem;
        }
      }

      .answers {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .answer {
          text-align: center;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          padding: 10px;
          margin: 6px;
          width: 80px;
          height: 80px;
          color: white;
          text-shadow: 0 0 5px #333;
          transition: background-color 0.4s;

          span {
            font-size: 0.55rem;
          }
        }

        .answer-first {
          background-color: rgb(243, 60, 60);
        }

        .answer-first:hover {
          background-color: rgb(231, 60, 60);
        }

        .answer-second {
          background-color: rgb(66, 84, 253);
        }

        .answer-second:hover {
          background-color: rgb(60, 75, 211);
        }

        .answer-third {
          background-color: rgb(248, 189, 78);
        }

        .answer-third:hover {
          background-color: rgb(238, 182, 77);
        }

        .answer-fourth {
          background-color: rgb(74, 228, 255);
        }

        .answer-fourth:hover {
          background-color: rgb(71, 214, 240);
        }
      }

      .button-box {
        margin-top: 30px;

        button {
          display: block;
          margin: 0 auto;
          background-color: transparent;
          border: 2px solid $main-color;
          text-transform: uppercase;
          color: $main-color;
          font-size: 0.7rem;
          padding: 6px 8px;
          border-radius: 14px;
          font-weight: 800;
          letter-spacing: 1px;
          transition: color 0.3s, background-color 0.3s;
          cursor: pointer;
        }

        button:hover {
          background-color: $main-color;
          color: white;
        }
      }
    }
  }

  .result-box {
    display: none;

    .result {
      padding: 10px;

      .info {
        margin-bottom: 20px;
        background: $main-color;
        background: -webkit-linear-gradient(to left, #7ea1a1, $main-color);
        background: linear-gradient(to left, #7ea1a1, $main-color);
        color: white;
        border-radius: 14px;
        padding: 10px;
        text-shadow: 0 0 4px #666;

        p {
          text-align: center;
          font-size: 0.9rem;
        }
      }

      .show-answers {
        p {
          font-weight: bold;
          margin-bottom: 6px;
        }

        span {
          margin-bottom: 5px;
          display: block;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .app {
    width: 350px;
    height: 500px;

    header {
      h1 {
        font-size: 1.25rem;
      }

      p.description {
        text-align: center;
        font-size: 0.75rem;
      }
    }

    .start-box {
      .info {
        p {
          margin-left: 15px;
          font-size: 0.85rem;
        }
      }
    }

    .quiz-box {
      .quiz {
        .question {
          h2 {
            font-size: 0.75rem;
          }
        }

        .answers {
          margin-top: 40px;

          .answer {
            margin: 8px;
            width: 90px;
            height: 90px;

            span {
              font-size: 0.6rem;
            }
          }
        }

        .button-box {
          margin-top: 40px;
        }
      }
    }

    .result-box {
      .result {
        padding: 10px;

        .info {
          margin-bottom: 35px;

          p {
            font-size: 1.05rem;
          }
        }

        .show-answers {
          margin-left: 10px;

          p {
            font-size: 1.1rem;
            margin-bottom: 6px;
          }

          span {
            font-size: 1.05rem;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .app {
    width: 400px;
    height: 550px;

    header {
      margin-bottom: 60px;

      h1 {
        font-size: 1.35rem;
      }

      p.description {
        text-align: center;
        font-size: 0.8rem;
      }
    }

    .start-box {
      .info {
        p {
          margin-left: 20px;
          font-size: 0.95rem;
        }
      }

      button {
        font-size: 0.75rem;
        padding: 6px 10px;
      }
    }

    .quiz-box {
      .quiz {
        .question {
          h2 {
            font-size: 0.85rem;
          }
        }

        .answers {
          margin-top: 60px;

          .answer {
            margin: 10px;
            width: 100px;
            height: 100px;

            span {
              font-size: 0.65rem;
            }
          }
        }

        .button-box {
          margin-top: 50px;
        }
      }
    }

    .result-box {
      .result {
        padding: 10px;

        .info {
          margin-bottom: 45px;

          p {
            font-size: 1.1rem;
          }
        }

        .show-answers {
          margin-left: 15px;

          p {
            font-size: 1.2rem;
            margin-bottom: 7px;
          }

          span {
            font-size: 1.1rem;
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .app {
    width: 500px;
    height: 600px;

    .start-box {
      .info {
        p {
          letter-spacing: 1px;
          margin-left: 25px;
          font-size: 1.05rem;
        }
      }

      button {
        font-size: 0.8rem;
        padding: 6px 12px;
      }
    }

    .quiz-box {
      .quiz {
        .question {
          h2 {
            font-size: 0.95rem;
          }
        }

        .answers {
          margin-top: 70px;

          .answer {
            margin: 12px;
            width: 125px;
            height: 125px;

            span {
              font-size: 0.75rem;
            }
          }
        }

        .button-box {
          margin-top: 60px;

          button {
            padding: 8px;
            font-size: 0.8rem;
          }
        }
      }
    }

    .result-box {
      .result {
        padding: 10px;

        p {
          margin: 20px 0;
        }

        .info {
          margin-bottom: 55px;

          p {
            font-size: 1.2rem;
          }
        }

        .show-answers {
          margin-left: 25px;

          p {
            font-size: 1.3rem;
            margin-bottom: 10px;
          }

          span {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
